[defaults]
host_key_checking=False
retry_files_enabled = false
inventory=/home/netadmin/ansible-rollouts/napalm/inventory/netbox/netbox_sw_inv.yml
fact_caching_connection=/home/netadmin/ansible-rollouts/napalm/inventory/netbox/host_vars/
library = /home/netadmin/.local/lib/python3.10/site-packages/napalm_ansible/modules
action_plugins = /home/netadmin/.local/lib/python3.10/site-packages/napalm_ansible/plugins/action
gathering = explicit

[inventory]
host_pattern_mismatch=ignore
cache=True
cache_plugin=ansible.builtin.jsonfile
cache_timeout=86400

[persistent_connection]
buffer_read_timeout = 2